<div class="container-fluid fix_overflow_width compare_background_img">
  <div class="cand-compare-2">
    <div class="row top_row">
      <div class="col-sm-4"><h1 id="cand_name"><%= @cand_sum["cand_name"] %></h1></div>
      <div class="col-sm-4"></div>
      <div class="col-sm-4"><h1 id="cand_name"><%= @cand2_sum["cand_name"] %></h1></div>
    </div>
    <div class="row versus_row">
      <div class="col-sm-4 cand_compare_img"><img class="cand_img_compare" src="<%= @cand1_img %>"></div>
      <div class="col-sm-4 cand_compare_img"><h1 id="versus">VS</h1></div>
      <div class="col-sm-4"><img class="cand_img_compare" src="<%= @cand2_img %>"></div>
    <div class="row compare_row">
      <div class="col-sm-4"><h2 class="big_numbers "><%= to_million(@cand_sum["total"]) %></h2></div>
      <div class="col-sm-4"><h1 class="sponsor_header bold_headers compare_page_spacing_headers">Total donations received</h1></div>
      <div class="col-sm-4"><h2 class="big_numbers "><%= to_million(@cand2_sum["total"]) %></h2></div>
    </div>
    <div class="row compare_row">
      <div class="col-sm-4"><h2 class="big_numbers "><%= to_million(@cand_sum["spent"]) %></h2></div>
      <div class="col-sm-4"><h1 class="sponsor_header bold_headers compare_page_spacing_headers">Total expenditure</h1></div>
      <div class="col-sm-4"><h2 class="big_numbers "><%= to_million(@cand2_sum["spent"]) %></h2></div>
    </div>
    <div class="row compare_row">
      <div class="col-sm-4"><h2 class="big_numbers "><%= to_million(@cand_sec_extract[2]) %></h2></div>
      <div class="col-sm-4"><h1 class="sponsor_header bold_headers compare_page_spacing_headers">Total sector donations</h1></div>
      <div class="col-sm-4"><h2 class="big_numbers "><%= to_million(@cand2_sec_extract[2]) %></h2></div>
    </div>
    <div class="row compare_row">
      <div class="col-sm-4"><h2 class="big_numbers "><%= to_million(@cand_con_extract[2])%></h2></div>
      <div class="col-sm-4"><h1 class="sponsor_header bold_headers compare_page_spacing_headers">Total organization donations</h1></div>
      <div class="col-sm-4"><h2 class="big_numbers "><%= to_million(@cand2_con_extract[2]) %></h2></div>
    </div>
    <div class="row compare_row">
      <div class="col-sm-4"><h2 class="big_numbers "><%= to_million(@cand_ind_extract[2])%></h2></div>
      <div class="col-sm-4"> <h1 class="sponsor_header bold_headers compare_page_spacing_headers">Total industry donations</h1></div>
      <div class="col-sm-4"><h2 class="big_numbers "><%= to_million(@cand2_ind_extract[2]) %></h2></div>
    </div>
  </div>
</div>

     