<div class="container-fluid">
  <div class="row top_row">
    <div class="col-sm-4"><h1 id="cand_name">Nancy Pelosi</h1></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><h1 id="cand_name">Bernie Sanders</h1></div>
  </div>
  <div class="row versus_row"><h1 id="versus">VS</h1></div>
  <div class="row compare_row">
    <div class="col-sm-4"><h2 class="compare_values_spacing"><%= @cand_sum["total"] %></h2></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><h2 class="compare_values_spacing"><%= @cand2_sum["total"] %></h2></div>
  </div>
  <div class="row compare_row">
    <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <h1 class="sponsor_header bold_headers compare_page_spacing_headers">Total donations received</h1>
      </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row compare_row">
    <div class="col-sm-4"><h2 class="compare_values_spacing"><%= @cand_sum["spent"] %></h2></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><h2 class="compare_values_spacing"><%= @cand2_sum["spent"] %></h2></div>
  </div>
  <div class="row compare_row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h1 class="sponsor_header bold_headers compare_page_spacing_headers">Total expenditure</h1>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row compare_row">
    <div class="col-sm-4"><h2 class="compare_values_spacing"><%= @cand_sec_extract[2] %></h2></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><h2 class="compare_values_spacing"><%= @cand2_sec_extract[2] %></h2></div>
  </div>
  <div class="row compare_row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h1 class="sponsor_header bold_headers compare_page_spacing_headers">Total sector donations</h1>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row compare_row">
    <div class="col-sm-4"><h2 class="compare_values_spacing"><%= @cand_con_extract[2] %></h2></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><h2 class="compare_values_spacing"><%= @cand2_con_extract[2] %></h2></div>
  </div>
  <div class="row compare_row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h1 class="sponsor_header bold_headers compare_page_spacing_headers">Total contributor donations</h1>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row compare_row">
    <div class="col-sm-4"><h2 class="compare_values_spacing"><%= @cand_ind_extract[2] %></h2></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4"><h2 class="compare_values_spacing"><%= @cand2_ind_extract[2] %></h2></div>
  </div>
  <div class="row compare_row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <h1 class="sponsor_header bold_headers compare_page_spacing_headers">Total industry donations</h1>
    </div>
    <div class="col-sm-4"></div>
  </div>
</div>

     <!--  <h1 class="sponsor_header bold_headers compare_page_spacing_headers">Total expenditure</h1>
        <h1 class="sponsor_header bold_headers compare_page_spacing_headers">Total sector donations</h1>
        <h1 class="sponsor_header bold_headers compare_page_spacing_headers">Top 3 sector donors</h1>
        <h1 class="sponsor_header bold_headers compare_page_spacing_headers">Total contributor donations</h1>
        <h1 class="sponsor_header bold_headers compare_page_spacing_headers">Top 3 contributor donors</h1>
        <h1 class="sponsor_header bold_headers compare_page_spacing_headers">Total industry donations</h1>
        <h1 class="sponsor_header bold_headers compare_page_spacing_headers">Top 3 industry donors</h1> -->
