<div class="container-fluid"> 
  <div class="row">
    <div class="col-sm-4">
      <h3>Total Donations Received</h3><br><p>$<%= @cand_sum["total"] %></p>
      <h3>Total Spent</h3><br><p>$<%= @cand_sum["spent"] %></p>
    </div>
    <div class="col-sm-4"><h1><%= @cand_sum["cand_name"] %></h1><br></div>
    <div class="col-sm-4"></div>
  </div>
  <div class="row">
    <div class="col-sm-4 sponsors">
      <h4>By sector</h4>
      <% @cand_sec["sector"].each do |sec| %>
        <ul>
          <li><%= sec["sector_name"] %>
        </ul>
      <% end %>
    </div>
    <div class="col-sm-4 sponsors">
      <h2>Sponsors</h2><br><br>
      <h4>By contributor</h4>
      <% @cand_con["contributor"].each do |con| %>
        <ul>
          <li><%= con["org_name"] %></li> 
        </ul>
      <% end %>
    </div>
    <div class="col-sm-4 sponsors">
      <h4>By industry</h4>
      <% @cand_ind["industry"].each do |ind| %>
        <ul>
          <li><%= ind["industry_name"] %></li>
        </ul>
      <% end %>
    </div>
  </div>
</div>




