 <!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/creative.css" type="text/css">

<body id="page-top">

<!-- logic to change header image depending on party -->
    <% if @cand_sum["party"] == "R" %>
        <header class="republican">
    <% else %>
        <header class="democrat">
    <% end %>
        <div class="header-content">
              <img id="profile" src="<%= @cand_img %>" class="cand_img">
          <div class="header-content-inner col-lg-7">
            <h1><%= @cand_sum["cand_name"] %></h1>
            <hr>
            <h2>$<span class="Count"><%= divide_by_mil(@cand_sum["total"]) %></span> Million</h2>
            <h4>Total Donations Received</h4>
            <hr>
            <h2>$<span class="Count"><%= divide_by_mil(@cand_sum["spent"]) %></span> Million</h2>
            <h4>Total Spent</h4>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Who's hands are in <%= first_name(@cand_sum["cand_name"])%>'s pocket?</a>
          </div>
        </div>
    </header>
    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
            <!-- corp list and total amounts -->
                <div class="col-lg-4 col-md-6 text-center">
                    <h2 class="section-heading">
                        Organizations
                        <hr class="light">
                        <% @cand_con["contributor"].each do |con| %>
                            <ul>
                              <li><%= con["org_name"] %> <span class="text-faded">(<%= fancy_number(con["total"]) %>)</span></li> 
                            </ul>
                          <% end %>
                    </h2>
                    <hr class="light">
                    <h1><%= fancy_number(@cand_con_extract[2]) %></h1>
                    <p class="text-faded">Total Donations</p>
                </div>
                <!-- sector list and amount -->
                <div class="col-lg-4 col-md-6 text-center">
                    <h2 class="section-heading">
                        Sectors
                        <hr class="light">
                        <% @cand_sec["sector"].each do |sec| %>
                            <ul>
                              <li><%= sec["sector_name"] %> <span class="text-faded">(<%= fancy_number(sec["total"]) %>)</span></li> 
                            </ul>
                          <% end %>
                    </h2>
                    <hr class="light">
                    <h1><%= fancy_number(@cand_sec_extract[2]) %></h1>
                    <p class="text-faded">Total Donations</p>
                    <a href="#" class="btn btn-default btn-xl">Back to <%= first_name(@cand_sum["cand_name"])%></a>
                </div>
                <!-- industry list and total amounts -->
                <div class="col-lg-4 col-md-6 text-center">
                    <h2 class="section-heading">
                        Industries
                        <hr class="light">
                        <% @cand_ind["industry"].each do |ind| %>
                            <ul>
                              <li><%= ind["industry_name"] %> <span class="text-faded">(<%= fancy_number(ind["total"]) %>)</span></li> 
                            </ul>
                          <% end %>
                    </h2>
                    <hr class="light">
                    <h1><%= fancy_number(@cand_ind_extract[2]) %></h1>
                    <p class="text-faded">Total Donations</p>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <% %w(cand_con_extract cand_sec_extract cand_ind_extract).each do |var| %>
                    <div class="col-lg-4 text-center">
                        <% if var == "cand_con_extract" %> 
                        <%   var_new = "Organizations" %>
                        <% elsif var == "cand_ind_extract"%>
                        <%   var_new = "Industries" %>
                        <% elsif var == "cand_sec_extract"%>
                        <%   var_new = "Sector" %>
                        <% end %>
                        <h2 class="section-heading"><%= var_new %></h2>
                        <hr class="primary">
                        <div id="<%= var %>"></div>
                        <script type="text/javascript">
                            makeDonut(<%= var %>, <%= self.instance_variable_get("@#{var}")%>)
                        </script>
                    </div>
                <% end %>
            </div>
        </div>
        <a href="#" class="backToTop">Top</a>
</body>