 <!-- Custom CSS -->
<link rel="stylesheet" href="/stylesheets/creative.css" type="text/css">

<body id="page-top">

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Corporate Hands In Politician's Pockets</h1>
                <hr>
                <p>Find which corporations are sponsoring Presidential Candidates.</p>
                <a href="#about" class="btn btn-primary btn-xl page-scroll">Latest News</a><br>
                <a href="#candidates" class="btn btn-default btn-xl">Check Out a Candidate</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Election News</h2>
                    <hr class="light">
                    <div class="col-lg-12 col-md-6 text-center">
                        <div class="result">
                            <p class="text-faded"><div id="searchcontrol" class="gs-result gs-webResult"></div>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#">back to top</a>
    </section>

    <section id="candidates">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Candidates</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                        <a href="/candidates/show/<%= CRUZ %>"><i class="fa fa-fw fa-tag"></i> <span class="badge">REP</span><h3>TED CRUZ</h3></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <a href="/candidates/show/<%= GRAHAM %>"><i class="fa fa-fw fa-tag"></i> <span class="badge">REP</span><h3>LINDSEY GRAHAM</h3></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <a href="/candidates/show/<%= PAUL %>"><i class="fa fa-fw fa-tag"></i> <span class="badge">REP</span><h3>RAND PAUL</h3></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <a href="/candidates/show/<%= RUBIO %>"><i class="fa fa-fw fa-tag"></i> <span class="badge">REP</span><h3>MARCO RUBIO</h3></a>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <a href="/candidates/show/<%= SANDERS %>"><i class="fa fa-fw fa-tag"></i> <span class="badge">DEM</span><h3>BERNIE SANDERS</h3></a>
                    </div>
                </div>
            </div>
        </div>
        <a href="#">back to top</a>
    </section>

 -->    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>
