<nav class="navbar navbar-findcond navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Poli Pocket</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav navbar-right">

      <!-- drop down for repub candidates -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Republican Candidates <span class="badge">5</span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/candidates/show/<%= PILOSI %>"><i class="fa fa-fw fa-tag"></i> <span class="badge">REP</span> Nancy Pilosi</a></li>
            <li><a href="/candidates/show/<%= CRUZ %>"><i class="fa fa-fw fa-tag"></i> <span class="badge">REP</span> Ted Cruz</a></li>
            <li><a href="/candidates/show/<%= GRAHAM %>"><i class="fa fa-fw fa-tag"></i> <span class="badge">REP</span> Lindsey Graham</a></li>
            <li><a href="/candidates/show/<%= PAUL %>"><i class="fa fa-fw fa-tag"></i> <span class="badge">REP</span> Rand Paul</a></li>
            <li><a href="/candidates/show/<%= RUBIO %>"><i class="fa fa-fw fa-tag"></i> <span class="badge">REP</span> Marco Rubio</a></li>
          </ul>

          <!-- second drop down for demo candidates -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-fw fa-bell-o"></i> Democratic Candidates <span class="badge">2</span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="/candidates/show/<%= SANDERS %>"><i class="fa fa-fw fa-tag"></i> <span class="badge">DEM</span> Bernie Sanders</a></li>
            <li><a href="/candidates/show/<%= CLINTON %>"><i class="fa fa-fw fa-tag"></i> <span class="badge">DEM</span> Hilary Clinton</a></li>
          </ul>
        </li>
        <li class="active"><a href="https://www.opensecrets.org/" target="_newtab">Open Secrets<span class="sr-only">(current)</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>